body{
	background 	: white;
}

a {
    color: black;

}

a:hover	{
	color:                white;
  text-decoration:      none;
}

h5:hover {
  color:                white;
  text-decoration:      none;
}




.nav{
    list-style:       none;
    display:          inline-block;
    right:            50px;
    position:         absolute;
    margin:           0px;
    z-index:          99999;
    padding:          0px;

}

.nav li{
  display:            inline-block;
  color:              white;
  text-decoration:    none;
}

.nav a{
    display:          inline-block;
    color:            #404040;
    text-align:       center;
    text-decoration:  none;
    font-size:        10pt;
    font-family:      sans-serif;
    border:           2px solid white;
    border-spacing:   0px;
    margin-right:     -7px;
    font-family:      'Roboto', sans-serif;
    letter-spacing:   2px;

}



/* background colors for homepage*/
.container1 {

	/*blue color*/
	background: 		  #BED4F1;
	border-style: 		solid;
  border-color: 		white;
  border-width: 		30px;
	height:				    230px;

}

.container2 {

	/*stone color*/
	background: 		    #DDD8D2;
	border-style: 		  solid;
    border-color: 		white;
    border-width: 		30px;
	height:				      230px;
	margin-top: 		    -30px;
	box-shadow: -5px -3px 5px #b2aeae;


}


.container3 .col-sm-12 {

  /*Purple color*/
  max-width:          100%;

}

.container3 {

	/*Purple color*/
  max-width:          100%;
	background: 		    #7D82A5;
	border-style: 		  solid;
    border-color: 		white;
    border-width: 		30px;
	height:				      300px;
	margin-top: 		   -30px;
	box-shadow:        -5px -3px 5px #b2aeae;

}




/*h3 for homepage*/

h3 {
	text-indent: 		0px;
	font-size: 			80px;
	font-family:   'Playfair Display', serif;
	margin-top:			40px; 
  color:          #404040;
  padding-top:    50px;

}


h5 {
  text-indent:    0px;
  font-size:      80px;
  font-family:   'Playfair Display', serif;
  margin-top:     20px; 
  color:          #404040;

}


/* link color*/

a {
    color:  #404040;
}

/* About me page */

h4 {
  text-indent:    0px;
  font-size:      20px;
  font-family:   'Roboto', sans-serif;
  margin-top:     20px; 
  margin-bottom:  0px;
  color:          #404040;
  text-align:     left;
  letter-spacing: 1px;

}


.container4 {

	/*blue color*/
	background: 		    #BED4F1;
	border-style: 		  solid;
    border-color: 		white;
    border-width: 		30px;
    padding: 			    30px;
    width:				    auto;

}


h2 {
	text-indent: 		0px;
	font-size: 			20px;
	color:				  #404040;
	font-family:   'Roboto', sans-serif;
  letter-spacing: 1px;
  margin-top:     20px; 
  margin-bottom:  20px;

}

h6 {
  text-indent:    0px;
  font-size:      20px;
  color:          #404040;
  font-family:   'Roboto', sans-serif;
  letter-spacing: 1px;
  margin-top:     10px; 
  margin-bottom:  20px;

}


p {
  margin-top:       20px;
	padding-left:  		0px;
	padding-right: 		50px;	
	font-size: 			  18px;
	letter-spacing: 	1px;
 	font-family:      'Roboto', sans-serif;
 	color:				    #666666;

}


#bar p {
  margin-top:       20px;
  padding-left:     0px;
  padding-right:    50px; 
  font-size:        18px;
  letter-spacing:   1px;
  font-family:      'Roboto', sans-serif;
  color:            #666666;

}


/*circles in About Me page*/

/*1st version*/

#bar {
  padding-left:         0px;
}

#bar h6 {
  font-size:            30px;
}

#circle {
	width: 					      300px;
	height: 				      300px;
	-moz-border-radius: 	150px;
	-webkit-border-radius:150px;
	border-radius: 			  150px;
	border: 				      6px solid white;
	text-align: 			    center;


}

#circle span { 
   height: 					280px; 
   display: 				inline-block; 
  /* zoom: 					  1; 
   *display: 				inline; */
   vertical-align: 	middle;

 }



#circle h1 { 
   display: 				inline-block; 
   zoom: 					  1.5; 
   *display: 				inline; 
   vertical-align: 	middle;
   color: 					#535353;
   font-size:				20px;
   font-family:     'Roboto', sans-serif;

 }


#circle2 {
	width: 					       150px;
	height: 				       150px;
	-moz-border-radius: 	  75px;
	-webkit-border-radius: 	75px;
	border-radius: 			    75px;
	border: 				       5px solid white;
	text-align: 			     center;

}

.col-xs-4 #circle2 {
  width:                 100px;
  height:                100px;
  -moz-border-radius:     50px;
  -webkit-border-radius:  50px;
  border-radius:          50px;
  border:                5px solid white;
  text-align:            center;

}


#circle2 span { 
   height: 					80px; 
/*   display: 				inline-block; 
*/   zoom: 					  1; 
/*   *display: 				inline; 
   vertical-align: 	middle;*/
   margin-top:      50px;
}

.col-sm-4 #circle2 span { 
   height:          80px; 
   display:         inline-block; 
   zoom:            1; 
   *display:        inline; 
   vertical-align:  middle;
   margin-top:      0px;

 }

#circle2 h1 { 
   display: 				inline-block; 
   zoom: 					  0; 
/*   *display: 				inline;
*/ vertical-align: 	middle;
   color: 					#535353;
   font-size:				20px;
   font-family:     'Roboto', sans-serif;

 }

 .col-xs-4 #circle2 h1 { 
   display:         inline-block; 
   zoom:            0; 
   */*display:        inline; */
   vertical-align:  middle;
   color:           #535353;
   font-size:       16px;
   font-family:     'Roboto', sans-serif;

}

#padding {
  margin-left:      40px;
  margin-right:     40px;
}


 li {
 	font-size: 			 	 18px;
 	color:					   #666666;
 	font-family:       'Roboto', sans-serif;
 	letter-spacing: 	 1px;
  list-style-type:   circle;


 }


.col-sm-12 h1 {
   color: 					#404040;
   font-size:				22px;
   padding-left: 		50px;
   margin-bottom:   -10px;
   font-family:     'Roboto', sans-serif;



 }

 hr {
 	margin-top:       50px;
 	margin-bottom:    50px;

 }

 /* Progress bar


.progress.active .progress-bar {
   -webkit-transition:    none !important;
   transition:            none !important;
 }

/*  Work Page Container */

.container5 {

	/*blue color*/
	background: 		    #DDD8D2;
	border-style: 		  solid;
    border-color: 		white;
    border-width: 		30px;
    padding: 			    30px;
    width:				    auto;

}


 /*Image in a circle*/

 .img-circle {
 	display: block;
 	width: 200px;
 	height: 200px;
    border-radius: 50%;
    filter: grayscale(100%);  
    text-align:center;
}


/* alert*/

.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
}

.closebtn {
    margin-left:    15px;
    color:          white;
    font-weight:    bold;
    float:          right;
    font-size:      22px;
    line-height:    20px;
    cursor:         pointer;
    transition:     0.3s;
}

.closebtn:hover {
    color:          #404040;

}

/*contact page*/

.container6 {

  /*purple color*/
  background:         #7D82A5;
  border-style:       solid;
    border-color:     white;
    border-width:     30px;
    padding:          30px;
    width:            auto;

}

.container7 {
  border-style:       solid;
    border-color:     white;
    border-width:     30px;
    padding:          30px;
    width:            auto;
    height:           725px;

}


/*footer*/

#footer {
  text-indent:    0px;
  font-size:      10px;
  font-family:   'Roboto', sans-serif;
  color:          #404040;
  text-align:     left;
  letter-spacing: 1px;
  text-align:     center; 
  padding-top:    30px;


}

#footer a:hover {
  color:           #7D82A5;
  text-decoration: none;
}

/*video*/

#video-background {
/*  making the video fullscreen  */
  position:        fixed;
  right:           0; 
  bottom:          0;
  min-width:       100%; 
  min-height:      100%;
  width:           auto; 
  height:          auto;
  z-index:         -100;
}
#link a:hover {
  color:           #7D82A5;
  text-decoration: none;


}

#link {
  margin-left:    50px;
}

.btn {
  position:         absolute;
  right:            5px;
  text-decoration: none;
}
button {
    display:          inline-block;
    color:            black;
    text-align:       center;
    text-decoration:  none;
    font-size:        10pt;
    font-family:      sans-serif;
    border:           2px solid white;
    border-spacing:   0px;
    font-family:      'Roboto', sans-serif;
    letter-spacing:   2px;
    padding:          10px;
    margin:           5px;

}

.btn a:hover {
  color:              #7D82A5;
  text-decoration:    none;
}

/* visited link */
.btn a:visited {
    color:           white;
    text-decoration: none;
}

/* selected link */
.btn a:active {
    color:            white;
    text-decoration:  none;
}

.center {

    margin-left: -30px;

}