
/*Headers*/
h2 {
	text-indent: 		0px;
	font-size: 			25px;
	color:				#404040;
	font-family:   		'Roboto', sans-serif;
  	letter-spacing: 	1px;
  	margin-top:     	10px; 
  	margin-bottom:  	20px;

}

.col-sm-12 h3 {
  text-indent:    0px;
  font-size:      40px;
  font-family:   'Playfair Display', serif;
  margin-top:     40px; 
  color:          #404040;

}



.col-sm-12 h5 {
  font-size: 	  	40px;
  margin-top: 	  	20px;
  text-indent:   	15px;
  font-family:   	'Playfair Display', serif;

} 

h6 {
  text-indent:    0px;
  font-size:      20px;
  color:          #404040;
  font-family:   'Roboto', sans-serif;
  letter-spacing: 1px;
  margin-top:     10px; 
  margin-bottom:  20px;

}

/*Paragraphs*/

.col-sm-12 p {
  margin-top:       20px;
  padding-left:     0px;
  padding-right:    0px; 
  font-size:        18px;
  letter-spacing:   1px;
  font-family:      'Roboto', sans-serif;
  color:            #666666;

}



/*conatiners */
.container1 {

	/*blue color*/
	background: 		#BED4F1;
	border-style: 		solid;
  	border-color: 		white;
  	border-width: 		10px;
	height:				150px;

}

.container2 {

	/*stone color*/
	background: 		#DDD8D2;
	border-style: 		solid;
    border-color: 		white;
    border-width: 		10px;
	height:				150px;
	margin-top: 		-30px;
	box-shadow: 		-5px -3px 5px #b2aeae;


}


.container3 .col-sm-12 {

  /*Purple color*/
  max-width:          100%;

}

.container3 {

	/*Purple color*/
  max-width:          	100%;
	background: 		#7D82A5;
	border-style: 		solid;
    border-color: 		white;
    border-width: 		10px;
	height:				150px;
	margin-top: 		-30px;
	box-shadow:       	-5px -3px 5px #b2aeae;

}


.container4 {

	/*blue color*/
	background: 		#BED4F1;
	border-style: 		solid;
    border-color: 		white;
    border-width: 		10px;
    padding: 			10px;
    width:				auto;

}

.container5 {

	/*blue color*/
	background: 		#DDD8D2;
	border-style: 		solid;
    border-color: 		white;
    border-width: 		10px;
    padding: 			10px;
    width:				auto;
    height: 			1850px;

}

.container6 {

  /*purple color*/
  background:         #7D82A5;
  border-style:       solid;
    border-color:     white;
    border-width:     10px;
    padding:          10px;
    width:            auto;

}

.container7 {
  border-style:       solid;
    border-width:     10px;
    padding:          10px;
    height:            800px;


}

/*/*nav button*/

.nav{
    list-style:       none;
    display:          inline-block;
    z-index:          99999;
    width:			  100%;
    left:			  8px;

}

.nav li{
  display:            inline-block;
  color:              white;
  text-decoration:    none;
}

.nav a{
    display:          inline-block;
    color:            black;
    text-align:       center;
    text-decoration:  none;
    font-size:        8pt;
    font-family:      sans-serif;
    border:           2px solid white;
    border-spacing:   0px;
    margin-right:     -7px;
    font-family:      'Roboto', sans-serif;
    letter-spacing:   2px;

}





/*work circles*/

.col-xs-4 #circle2 {
  width:                 100px;
  height:                100px;
  -moz-border-radius:     50px;
  -webkit-border-radius:  50px;
  border-radius:          50px;
  border:                5px solid white;
  text-align:            center;
  margin-left: 			 10px;



}

/*ids*/

#padding {
  margin-left:      0px;
  margin-right: 	0px;
}


#paddingB h2 {
  margin-left:      30px;
}

#paddingC {
  margin-left:      10px;
  margin-right: 	10px;
}


#shortenH {
	margin-left: 0px;
	font-size: 	 50px;
}

 hr {
 	margin-top:       10px;
 	margin-bottom:    10px;

 }
/*bar section*/

#bar {
  padding-left:         30px;
}

#bar h6 {
  font-size:            25px;
}

.center {

    margin-left: 		0px;

}


#link {
  margin-left: 			0px;
}

iframe {
	display: none;
}

.topMargin {
	margin-top: 30px;
}

#resize {

	display: 			none;

}

